* {
  box-sizing: border-box;
}
.header-container{
  display: flex;
  font-weight: 600;
  font-size: 24px;
  justify-content: space-between;
  background:lightgoldenrodyellow;
}

.nav-items {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.nav-items li {
  padding: 5px;
}

.nav-items li a {
  text-decoration: none;
  color: black;
}

.active {
  background-color: bisque;
  color: black;
}

.name {
  display: flex;
    align-self: center;
}

.container{
  background: aliceblue;
  height: 100vh;
}

.photo {
    border: 1px solid;
    border-radius: 4px;
    width: 200px;
  }
